*,
*::before,
*::after
{
    box-sizing: border-box;
}
*
{
    margin: 0;
    padding: 0;
    border: transparent solid 0;
}

html,
body
{
    background-color: #EBF7E3;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #092834;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    text-rendering: optimizeSpeed;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object
{
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select
{
    font: inherit;
    line-height: inherit;
    color: inherit;
}

input,
button,
textarea,
select
{
    font: inherit;
    line-height: inherit;
    color: inherit;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

button,
[role="button"]
{
    cursor: pointer;
    background-color: transparent;
    &:focus
    {
        outline: 0;
    }
}

p
{
    margin: .3em 0;
    font-size: 1.15em;
}

a
{
    cursor: pointer;
    color: #347B98;
    text-decoration: none;
    &:hover,
    :focus
    {
        color: #66B032;
    }
}

ul
{
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 1em auto;
    color: #375F1B;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select
{
    appearance: none;
    width: 100%;
    &:focus
    {
        outline: 0;
    }
}

::-moz-placeholder
{
    opacity: 1;
}

textarea
{
    vertical-align: top;
    overflow: auto;
    resize: both;
}

[type="checkbox"],
[type="radio"]
{
    appearance: none;
    &:focus
    {
        outline: 0
    }
}

.center-text
{
    text-align: center;
}
.m5
{
    margin-left: 5em;
}
/** structure **/

header
{
    background-image: url(../image/eh-html-head.webp);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 45vh;
    max-height: 400px;
    margin: 0 auto;
    padding: 1em;
    & h1
    {
        color: #EBF7E3;
        font-size: 3em;
        text-align: center;
    }
    h2
    {
        margin: 1em;
        color: #EBF7E3;
        font-weight: 400;
        text-align: center;
    }
}

nav
{
    display: flex;
    justify-content: space-between;
    & ul
    {
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
    }
    li,
    li a
    {
        color: #EBF7E3;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

main
{
    width: 100%;
    max-width: 1280px;
    min-height: calc(100vh - 420px);
    padding: 1rem;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.bottom-content
{
    width: 100%;
    max-width: 1280px;
    padding: 1rem;
    margin: 1rem auto;
}

/** content **/

article
{
    margin: 1rem auto;
    padding: 1rem;
}

h3
{
    margin-bottom: 0;
}

.left-shape
{
    float: left;
    shape-outside: url(../image/shape-right.png);
    shape-margin: -2px;
}
.right-shape
{
    float: right;
    shape-outside: url(../image/shape.png);
}


/** star animation **/
.stars
{
    position: relative;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 300px;
    overflow: hidden;

    & span
    {
        display: inline-block;
        width: 100%;
        color: #fff;
        font-size: 14px;
        position: absolute;
        bottom: 3px;

        & a
        {
            color: #fff;
        }
    }
}
#stars
{
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1464px 1572px #FFF, 1301px 537px #FFF, 1162px 261px #FFF, 647px 1652px #FFF, 1591px 880px #FFF, 656px 554px #FFF, 63px 1843px #FFF, 1523px 1624px #FFF, 296px 279px #FFF, 1850px 1556px #FFF, 825px 837px #FFF, 432px 1938px #FFF, 213px 791px #FFF, 1712px 1264px #FFF, 1128px 497px #FFF, 1689px 844px #FFF, 1965px 52px #FFF, 1395px 43px #FFF, 1233px 1686px #FFF, 1052px 1142px #FFF, 490px 1095px #FFF, 1395px 889px #FFF, 1627px 1368px #FFF, 844px 580px #FFF, 1347px 1519px #FFF, 14px 357px #FFF, 20px 1333px #FFF, 264px 671px #FFF, 1182px 1460px #FFF, 299px 394px #FFF, 782px 1027px #FFF, 1618px 1612px #FFF, 864px 1511px #FFF, 1230px 1166px #FFF, 1599px 808px #FFF, 1775px 491px #FFF, 96px 1510px #FFF, 1540px 607px #FFF, 793px 393px #FFF, 1845px 1363px #FFF, 88px 970px #FFF, 1525px 751px #FFF, 89px 1832px #FFF, 932px 705px #FFF, 934px 1117px #FFF, 1612px 1501px #FFF, 748px 237px #FFF, 1580px 635px #FFF, 1679px 1508px #FFF, 1558px 1945px #FFF, 340px 591px #FFF, 1453px 1752px #FFF, 1401px 1593px #FFF, 1342px 256px #FFF, 1581px 227px #FFF, 870px 533px #FFF, 337px 274px #FFF, 1073px 1399px #FFF, 1998px 1498px #FFF, 1606px 1271px #FFF, 162px 744px #FFF, 330px 982px #FFF, 1513px 707px #FFF, 147px 396px #FFF, 781px 350px #FFF, 248px 1731px #FFF, 130px 693px #FFF, 1398px 881px #FFF, 1204px 568px #FFF, 606px 720px #FFF, 596px 1198px #FFF, 1753px 1364px #FFF, 1680px 1243px #FFF, 154px 1266px #FFF, 224px 317px #FFF, 1088px 1766px #FFF, 463px 668px #FFF, 668px 1125px #FFF, 576px 261px #FFF, 1825px 1582px #FFF, 1409px 898px #FFF, 1767px 745px #FFF, 147px 1753px #FFF, 1610px 346px #FFF, 560px 320px #FFF, 547px 509px #FFF, 304px 483px #FFF, 1324px 1711px #FFF, 1374px 1276px #FFF, 1971px 438px #FFF, 924px 1981px #FFF, 228px 1034px #FFF, 1551px 1579px #FFF, 1879px 520px #FFF, 1318px 1206px #FFF, 1778px 1812px #FFF, 1546px 1966px #FFF, 32px 116px #FFF, 964px 499px #FFF, 1454px 639px #FFF, 217px 1349px #FFF, 793px 272px #FFF, 652px 1286px #FFF, 279px 938px #FFF, 838px 744px #FFF, 107px 1100px #FFF, 745px 1759px #FFF, 67px 459px #FFF, 290px 1688px #FFF, 1523px 962px #FFF, 559px 845px #FFF, 1043px 487px #FFF, 198px 1637px #FFF, 1137px 1769px #FFF, 975px 1312px #FFF, 902px 834px #FFF, 1623px 703px #FFF, 739px 1185px #FFF, 1482px 814px #FFF, 1353px 13px #FFF, 757px 1123px #FFF, 1200px 1386px #FFF, 215px 243px #FFF, 1999px 1853px #FFF, 1980px 117px #FFF, 785px 1563px #FFF, 1774px 166px #FFF, 1778px 1493px #FFF, 8px 445px #FFF, 1390px 1158px #FFF, 1065px 517px #FFF, 697px 617px #FFF, 1139px 2000px #FFF, 1644px 81px #FFF, 1878px 635px #FFF, 715px 1680px #FFF, 1503px 87px #FFF, 463px 578px #FFF, 1722px 1105px #FFF, 1203px 1765px #FFF, 1062px 1467px #FFF, 940px 1101px #FFF, 727px 417px #FFF, 158px 358px #FFF, 657px 113px #FFF, 1501px 283px #FFF, 436px 1085px #FFF, 226px 790px #FFF, 731px 1117px #FFF, 697px 1306px #FFF, 1298px 772px #FFF, 870px 350px #FFF, 180px 428px #FFF, 1422px 896px #FFF, 632px 1311px #FFF, 156px 1625px #FFF, 1251px 1908px #FFF, 1770px 340px #FFF, 1183px 20px #FFF, 1118px 225px #FFF, 1745px 560px #FFF, 1928px 880px #FFF, 520px 1263px #FFF, 1417px 365px #FFF, 1944px 1520px #FFF, 1799px 1025px #FFF, 270px 254px #FFF, 163px 1905px #FFF, 1270px 1288px #FFF, 1147px 1594px #FFF, 1744px 293px #FFF, 899px 281px #FFF, 1386px 925px #FFF, 837px 1350px #FFF, 1792px 1762px #FFF, 1841px 330px #FFF, 632px 1984px #FFF, 314px 360px #FFF, 1066px 1639px #FFF, 395px 248px #FFF, 573px 1236px #FFF, 1545px 1037px #FFF, 1208px 873px #FFF, 554px 11px #FFF, 347px 989px #FFF, 119px 1563px #FFF, 260px 1611px #FFF, 364px 596px #FFF, 5px 1673px #FFF, 1383px 1073px #FFF, 144px 986px #FFF, 974px 1834px #FFF, 142px 1357px #FFF, 241px 395px #FFF, 1844px 390px #FFF, 354px 1574px #FFF, 1492px 680px #FFF, 825px 437px #FFF, 711px 1981px #FFF, 223px 344px #FFF, 1353px 1552px #FFF, 794px 1260px #FFF, 570px 1274px #FFF, 1020px 174px #FFF, 50px 321px #FFF, 1625px 1828px #FFF, 555px 1245px #FFF, 247px 1139px #FFF, 567px 1509px #FFF, 847px 506px #FFF, 1036px 1471px #FFF, 1633px 1960px #FFF, 1770px 1203px #FFF, 1300px 1637px #FFF, 1278px 141px #FFF, 740px 850px #FFF, 1920px 1270px #FFF, 938px 1794px #FFF, 1481px 807px #FFF, 798px 1594px #FFF, 1722px 1925px #FFF, 1503px 811px #FFF, 1392px 1779px #FFF, 101px 1886px #FFF, 661px 1107px #FFF, 1736px 933px #FFF, 1076px 995px #FFF, 261px 933px #FFF, 1217px 335px #FFF, 1109px 1821px #FFF, 1429px 133px #FFF, 808px 55px #FFF, 13px 140px #FFF, 1274px 920px #FFF, 1641px 726px #FFF, 1920px 1229px #FFF, 353px 1962px #FFF, 110px 313px #FFF, 573px 1857px #FFF, 1540px 1776px #FFF, 944px 186px #FFF, 241px 821px #FFF, 1742px 691px #FFF, 336px 1370px #FFF, 1294px 1153px #FFF, 411px 388px #FFF, 1527px 293px #FFF, 988px 639px #FFF, 1150px 268px #FFF, 1581px 1531px #FFF, 1077px 1619px #FFF, 986px 1950px #FFF, 930px 1651px #FFF, 1876px 1457px #FFF, 1964px 41px #FFF, 1213px 1474px #FFF, 764px 1948px #FFF, 450px 1519px #FFF, 1767px 787px #FFF, 1705px 289px #FFF, 220px 932px #FFF, 192px 1480px #FFF, 70px 1541px #FFF, 1249px 204px #FFF, 1439px 1284px #FFF, 444px 361px #FFF, 168px 1274px #FFF, 805px 1551px #FFF, 1361px 205px #FFF, 266px 1897px #FFF, 1500px 1916px #FFF, 1865px 809px #FFF, 876px 1648px #FFF, 348px 1937px #FFF, 1178px 846px #FFF, 1662px 35px #FFF, 53px 557px #FFF, 1612px 832px #FFF, 979px 147px #FFF, 134px 329px #FFF, 859px 1151px #FFF, 1671px 1931px #FFF, 1320px 483px #FFF, 486px 288px #FFF, 1044px 858px #FFF, 1826px 1891px #FFF, 1678px 1678px #FFF, 1669px 1461px #FFF, 557px 1586px #FFF, 132px 668px #FFF, 1881px 354px #FFF, 1411px 83px #FFF, 743px 999px #FFF, 1457px 72px #FFF, 1177px 1020px #FFF, 384px 1779px #FFF, 341px 972px #FFF, 1777px 1776px #FFF, 612px 1425px #FFF, 1098px 1621px #FFF, 1658px 1598px #FFF, 732px 1943px #FFF, 1941px 1989px #FFF, 974px 1343px #FFF, 1332px 8px #FFF, 1001px 662px #FFF, 1080px 92px #FFF, 1226px 344px #FFF, 1127px 1181px #FFF, 962px 187px #FFF, 328px 867px #FFF, 616px 1845px #FFF, 1980px 1261px #FFF, 1260px 969px #FFF, 1543px 1166px #FFF, 1441px 1645px #FFF, 16px 362px #FFF, 355px 568px #FFF, 1540px 81px #FFF, 1829px 63px #FFF, 56px 1980px #FFF, 1426px 575px #FFF, 91px 1757px #FFF, 309px 1987px #FFF, 735px 835px #FFF, 1725px 1383px #FFF, 1533px 523px #FFF, 1769px 1174px #FFF, 685px 143px #FFF, 17px 1518px #FFF, 1872px 1445px #FFF, 1808px 1869px #FFF, 717px 1573px #FFF, 265px 1674px #FFF, 1304px 4px #FFF, 1461px 589px #FFF, 915px 484px #FFF, 1133px 1500px #FFF, 1811px 1659px #FFF, 538px 289px #FFF, 1098px 1452px #FFF, 353px 1024px #FFF, 1981px 695px #FFF, 747px 306px #FFF, 722px 1714px #FFF, 1427px 1295px #FFF, 859px 817px #FFF, 1506px 375px #FFF, 610px 360px #FFF, 589px 1468px #FFF, 1889px 490px #FFF, 1617px 1289px #FFF, 1536px 165px #FFF, 1249px 1691px #FFF, 1843px 686px #FFF, 789px 498px #FFF, 1885px 1459px #FFF, 1635px 42px #FFF, 218px 1576px #FFF, 1860px 91px #FFF, 175px 983px #FFF, 1599px 634px #FFF, 1142px 920px #FFF, 1910px 1226px #FFF, 950px 1378px #FFF, 774px 1277px #FFF, 941px 1184px #FFF, 1317px 307px #FFF, 1852px 77px #FFF, 1150px 1409px #FFF, 1135px 197px #FFF, 1689px 1712px #FFF, 189px 340px #FFF, 1132px 1633px #FFF, 1077px 390px #FFF, 522px 1576px #FFF, 643px 968px #FFF, 508px 1536px #FFF, 93px 605px #FFF, 1393px 1891px #FFF, 955px 476px #FFF, 957px 40px #FFF, 1654px 1326px #FFF, 1622px 486px #FFF, 430px 1509px #FFF, 88px 403px #FFF, 1397px 177px #FFF, 510px 1318px #FFF, 1860px 1268px #FFF, 1726px 876px #FFF, 1628px 574px #FFF, 1911px 1543px #FFF, 1347px 756px #FFF, 1288px 1549px #FFF, 1467px 255px #FFF, 1151px 1347px #FFF, 1617px 445px #FFF, 1445px 444px #FFF, 1843px 1628px #FFF, 1263px 738px #FFF, 536px 672px #FFF, 1531px 79px #FFF, 1391px 1022px #FFF, 142px 1159px #FFF, 1767px 1406px #FFF, 935px 130px #FFF, 437px 346px #FFF, 1358px 63px #FFF, 770px 1327px #FFF, 710px 643px #FFF, 1562px 292px #FFF, 1019px 18px #FFF, 1461px 431px #FFF, 1080px 1993px #FFF, 1010px 1541px #FFF, 1734px 1178px #FFF, 1465px 542px #FFF, 724px 1575px #FFF, 347px 717px #FFF, 1854px 637px #FFF, 1789px 1595px #FFF, 1708px 865px #FFF, 428px 199px #FFF, 83px 1545px #FFF, 1404px 1819px #FFF, 1321px 1757px #FFF, 1761px 916px #FFF, 1366px 1171px #FFF, 59px 1389px #FFF, 1053px 1049px #FFF, 1469px 402px #FFF, 326px 166px #FFF, 472px 79px #FFF, 1236px 774px #FFF, 129px 832px #FFF, 1742px 1537px #FFF, 1427px 700px #FFF, 1172px 544px #FFF, 1899px 1924px #FFF, 1332px 684px #FFF, 1840px 1525px #FFF, 1417px 1514px #FFF, 1806px 1682px #FFF, 746px 1554px #FFF, 579px 1938px #FFF, 250px 1673px #FFF, 237px 584px #FFF, 681px 668px #FFF, 321px 751px #FFF, 541px 881px #FFF, 1702px 1542px #FFF, 984px 843px #FFF, 627px 925px #FFF, 12px 18px #FFF, 11px 80px #FFF, 1440px 1935px #FFF, 623px 1527px #FFF, 1408px 99px #FFF, 1792px 319px #FFF, 1167px 891px #FFF, 241px 1034px #FFF, 545px 1904px #FFF, 301px 1827px #FFF, 1990px 564px #FFF, 1053px 349px #FFF, 1199px 1298px #FFF, 1488px 1742px #FFF, 654px 878px #FFF, 1332px 1906px #FFF, 1675px 1574px #FFF, 1797px 105px #FFF, 399px 1336px #FFF, 639px 1155px #FFF, 1819px 1231px #FFF, 1883px 1606px #FFF, 158px 314px #FFF, 1489px 1842px #FFF, 1578px 1300px #FFF, 1834px 1942px #FFF, 1628px 647px #FFF, 1975px 1771px #FFF, 1602px 864px #FFF, 51px 416px #FFF, 100px 1045px #FFF, 500px 1580px #FFF, 140px 188px #FFF, 1889px 801px #FFF, 370px 1753px #FFF, 746px 351px #FFF, 8px 1634px #FFF, 1274px 614px #FFF, 293px 1133px #FFF, 1408px 521px #FFF, 1719px 277px #FFF, 455px 737px #FFF, 495px 1926px #FFF, 1471px 174px #FFF, 1087px 477px #FFF, 1106px 763px #FFF, 1715px 574px #FFF, 1878px 785px #FFF, 904px 355px #FFF, 380px 1398px #FFF, 1207px 1722px #FFF, 695px 605px #FFF, 958px 1274px #FFF, 1712px 957px #FFF, 781px 1248px #FFF, 1526px 1335px #FFF, 113px 971px #FFF, 520px 949px #FFF, 391px 204px #FFF, 509px 576px #FFF, 1561px 1941px #FFF, 1625px 1635px #FFF, 1940px 1143px #FFF, 804px 1303px #FFF, 1458px 71px #FFF, 394px 481px #FFF, 1481px 1466px #FFF, 1210px 1843px #FFF, 1958px 1681px #FFF, 1360px 346px #FFF, 688px 1544px #FFF, 137px 1261px #FFF, 1482px 146px #FFF, 522px 1204px #FFF, 873px 1168px #FFF, 1053px 467px #FFF, 929px 1765px #FFF, 1338px 1595px #FFF, 546px 705px #FFF, 889px 898px #FFF, 313px 929px #FFF, 575px 1208px #FFF, 71px 1217px #FFF, 292px 1520px #FFF, 1005px 1458px #FFF, 1059px 581px #FFF, 1002px 93px #FFF, 769px 88px #FFF, 1072px 1255px #FFF, 426px 1145px #FFF, 1767px 1447px #FFF, 1798px 465px #FFF, 416px 1764px #FFF, 1333px 1310px #FFF, 429px 1315px #FFF, 1028px 1526px #FFF, 1872px 1568px #FFF, 954px 1768px #FFF, 790px 652px #FFF, 79px 353px #FFF, 1835px 163px #FFF, 187px 1180px #FFF, 1448px 677px #FFF, 1257px 20px #FFF, 1502px 1289px #FFF, 529px 1976px #FFF, 367px 729px #FFF, 1889px 650px #FFF, 1150px 708px #FFF, 388px 164px #FFF, 1314px 659px #FFF, 1997px 737px #FFF, 1675px 865px #FFF, 1285px 1981px #FFF, 1193px 1272px #FFF, 216px 1909px #FFF, 1691px 457px #FFF, 432px 870px #FFF, 896px 617px #FFF, 1768px 1788px #FFF, 996px 1133px #FFF, 1664px 1790px #FFF, 239px 1222px #FFF, 1636px 1280px #FFF, 611px 388px #FFF, 1288px 1548px #FFF, 511px 1760px #FFF, 400px 875px #FFF, 575px 597px #FFF, 1254px 380px #FFF, 1943px 1896px #FFF, 401px 1894px #FFF, 241px 407px #FFF, 1319px 485px #FFF, 402px 921px #FFF, 467px 2000px #FFF, 784px 1174px #FFF, 1834px 247px #FFF, 1984px 1550px #FFF, 675px 1292px #FFF, 210px 275px #FFF, 609px 1174px #FFF, 975px 1600px #FFF, 1333px 65px #FFF, 452px 814px #FFF, 1669px 785px #FFF, 1253px 1389px #FFF, 1091px 1105px #FFF, 713px 1116px #FFF, 1987px 387px #FFF, 1768px 191px #FFF, 106px 982px #FFF, 157px 1029px #FFF, 1852px 1543px #FFF, 1983px 1014px #FFF, 396px 434px #FFF, 1610px 1519px #FFF, 1774px 1536px #FFF, 3px 1123px #FFF, 1264px 1870px #FFF, 1757px 1269px #FFF, 1157px 1492px #FFF, 1865px 1909px #FFF, 1543px 507px #FFF, 1773px 889px #FFF, 1578px 1367px #FFF, 1100px 1447px #FFF, 138px 333px #FFF, 1201px 252px #FFF, 1779px 957px #FFF, 1973px 84px #FFF, 1971px 355px #FFF, 826px 1102px #FFF, 593px 1481px #FFF, 421px 1991px #FFF, 1685px 1712px #FFF, 1965px 730px #FFF, 910px 1933px #FFF, 1800px 643px #FFF, 98px 1518px #FFF, 1207px 846px #FFF, 726px 369px #FFF, 1347px 169px #FFF, 1406px 633px #FFF, 386px 1871px #FFF, 859px 1860px #FFF, 1544px 1808px #FFF, 1127px 822px #FFF, 849px 213px #FFF, 199px 1854px #FFF, 1951px 362px #FFF, 368px 76px #FFF, 1764px 528px #FFF, 1104px 655px #FFF, 1343px 1454px #FFF, 650px 1957px #FFF, 715px 1682px #FFF, 1083px 566px #FFF, 758px 128px #FFF, 1016px 657px #FFF, 1144px 791px #FFF, 1018px 298px #FFF, 113px 148px #FFF, 1826px 1451px #FFF, 1989px 800px #FFF, 698px 1397px #FFF, 1337px 631px #FFF, 1719px 1002px #FFF, 1780px 337px #FFF, 1084px 712px #FFF, 680px 1523px #FFF, 707px 1726px #FFF, 1210px 940px #FFF, 591px 799px #FFF, 1989px 1879px #FFF, 640px 131px #FFF, 1553px 1318px #FFF, 103px 554px #FFF, 1122px 1585px #FFF, 276px 437px #FFF, 1661px 1384px #FFF, 853px 1443px #FFF, 1525px 1318px #FFF, 1832px 1006px #FFF, 683px 1859px #FFF, 1977px 593px #FFF, 1819px 1727px #FFF, 48px 134px #FFF, 1668px 488px #FFF, 1867px 897px #FFF, 626px 1522px #FFF, 1616px 649px #FFF, 1415px 627px #FFF, 123px 136px #FFF, 695px 1759px #FFF, 564px 1281px #FFF, 290px 234px #FFF, 917px 1966px #FFF, 929px 1152px #FFF, 1669px 138px #FFF, 1903px 1996px #FFF, 1810px 1527px #FFF, 627px 468px #FFF, 165px 815px #FFF, 1872px 830px #FFF, 1528px 1341px #FFF, 882px 1483px #FFF;
    animation: animStar 50s linear infinite;
}
#stars:after
{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1464px 1572px #FFF, 1301px 537px #FFF, 1162px 261px #FFF, 647px 1652px #FFF, 1591px 880px #FFF, 656px 554px #FFF, 63px 1843px #FFF, 1523px 1624px #FFF, 296px 279px #FFF, 1850px 1556px #FFF, 825px 837px #FFF, 432px 1938px #FFF, 213px 791px #FFF, 1712px 1264px #FFF, 1128px 497px #FFF, 1689px 844px #FFF, 1965px 52px #FFF, 1395px 43px #FFF, 1233px 1686px #FFF, 1052px 1142px #FFF, 490px 1095px #FFF, 1395px 889px #FFF, 1627px 1368px #FFF, 844px 580px #FFF, 1347px 1519px #FFF, 14px 357px #FFF, 20px 1333px #FFF, 264px 671px #FFF, 1182px 1460px #FFF, 299px 394px #FFF, 782px 1027px #FFF, 1618px 1612px #FFF, 864px 1511px #FFF, 1230px 1166px #FFF, 1599px 808px #FFF, 1775px 491px #FFF, 96px 1510px #FFF, 1540px 607px #FFF, 793px 393px #FFF, 1845px 1363px #FFF, 88px 970px #FFF, 1525px 751px #FFF, 89px 1832px #FFF, 932px 705px #FFF, 934px 1117px #FFF, 1612px 1501px #FFF, 748px 237px #FFF, 1580px 635px #FFF, 1679px 1508px #FFF, 1558px 1945px #FFF, 340px 591px #FFF, 1453px 1752px #FFF, 1401px 1593px #FFF, 1342px 256px #FFF, 1581px 227px #FFF, 870px 533px #FFF, 337px 274px #FFF, 1073px 1399px #FFF, 1998px 1498px #FFF, 1606px 1271px #FFF, 162px 744px #FFF, 330px 982px #FFF, 1513px 707px #FFF, 147px 396px #FFF, 781px 350px #FFF, 248px 1731px #FFF, 130px 693px #FFF, 1398px 881px #FFF, 1204px 568px #FFF, 606px 720px #FFF, 596px 1198px #FFF, 1753px 1364px #FFF, 1680px 1243px #FFF, 154px 1266px #FFF, 224px 317px #FFF, 1088px 1766px #FFF, 463px 668px #FFF, 668px 1125px #FFF, 576px 261px #FFF, 1825px 1582px #FFF, 1409px 898px #FFF, 1767px 745px #FFF, 147px 1753px #FFF, 1610px 346px #FFF, 560px 320px #FFF, 547px 509px #FFF, 304px 483px #FFF, 1324px 1711px #FFF, 1374px 1276px #FFF, 1971px 438px #FFF, 924px 1981px #FFF, 228px 1034px #FFF, 1551px 1579px #FFF, 1879px 520px #FFF, 1318px 1206px #FFF, 1778px 1812px #FFF, 1546px 1966px #FFF, 32px 116px #FFF, 964px 499px #FFF, 1454px 639px #FFF, 217px 1349px #FFF, 793px 272px #FFF, 652px 1286px #FFF, 279px 938px #FFF, 838px 744px #FFF, 107px 1100px #FFF, 745px 1759px #FFF, 67px 459px #FFF, 290px 1688px #FFF, 1523px 962px #FFF, 559px 845px #FFF, 1043px 487px #FFF, 198px 1637px #FFF, 1137px 1769px #FFF, 975px 1312px #FFF, 902px 834px #FFF, 1623px 703px #FFF, 739px 1185px #FFF, 1482px 814px #FFF, 1353px 13px #FFF, 757px 1123px #FFF, 1200px 1386px #FFF, 215px 243px #FFF, 1999px 1853px #FFF, 1980px 117px #FFF, 785px 1563px #FFF, 1774px 166px #FFF, 1778px 1493px #FFF, 8px 445px #FFF, 1390px 1158px #FFF, 1065px 517px #FFF, 697px 617px #FFF, 1139px 2000px #FFF, 1644px 81px #FFF, 1878px 635px #FFF, 715px 1680px #FFF, 1503px 87px #FFF, 463px 578px #FFF, 1722px 1105px #FFF, 1203px 1765px #FFF, 1062px 1467px #FFF, 940px 1101px #FFF, 727px 417px #FFF, 158px 358px #FFF, 657px 113px #FFF, 1501px 283px #FFF, 436px 1085px #FFF, 226px 790px #FFF, 731px 1117px #FFF, 697px 1306px #FFF, 1298px 772px #FFF, 870px 350px #FFF, 180px 428px #FFF, 1422px 896px #FFF, 632px 1311px #FFF, 156px 1625px #FFF, 1251px 1908px #FFF, 1770px 340px #FFF, 1183px 20px #FFF, 1118px 225px #FFF, 1745px 560px #FFF, 1928px 880px #FFF, 520px 1263px #FFF, 1417px 365px #FFF, 1944px 1520px #FFF, 1799px 1025px #FFF, 270px 254px #FFF, 163px 1905px #FFF, 1270px 1288px #FFF, 1147px 1594px #FFF, 1744px 293px #FFF, 899px 281px #FFF, 1386px 925px #FFF, 837px 1350px #FFF, 1792px 1762px #FFF, 1841px 330px #FFF, 632px 1984px #FFF, 314px 360px #FFF, 1066px 1639px #FFF, 395px 248px #FFF, 573px 1236px #FFF, 1545px 1037px #FFF, 1208px 873px #FFF, 554px 11px #FFF, 347px 989px #FFF, 119px 1563px #FFF, 260px 1611px #FFF, 364px 596px #FFF, 5px 1673px #FFF, 1383px 1073px #FFF, 144px 986px #FFF, 974px 1834px #FFF, 142px 1357px #FFF, 241px 395px #FFF, 1844px 390px #FFF, 354px 1574px #FFF, 1492px 680px #FFF, 825px 437px #FFF, 711px 1981px #FFF, 223px 344px #FFF, 1353px 1552px #FFF, 794px 1260px #FFF, 570px 1274px #FFF, 1020px 174px #FFF, 50px 321px #FFF, 1625px 1828px #FFF, 555px 1245px #FFF, 247px 1139px #FFF, 567px 1509px #FFF, 847px 506px #FFF, 1036px 1471px #FFF, 1633px 1960px #FFF, 1770px 1203px #FFF, 1300px 1637px #FFF, 1278px 141px #FFF, 740px 850px #FFF, 1920px 1270px #FFF, 938px 1794px #FFF, 1481px 807px #FFF, 798px 1594px #FFF, 1722px 1925px #FFF, 1503px 811px #FFF, 1392px 1779px #FFF, 101px 1886px #FFF, 661px 1107px #FFF, 1736px 933px #FFF, 1076px 995px #FFF, 261px 933px #FFF, 1217px 335px #FFF, 1109px 1821px #FFF, 1429px 133px #FFF, 808px 55px #FFF, 13px 140px #FFF, 1274px 920px #FFF, 1641px 726px #FFF, 1920px 1229px #FFF, 353px 1962px #FFF, 110px 313px #FFF, 573px 1857px #FFF, 1540px 1776px #FFF, 944px 186px #FFF, 241px 821px #FFF, 1742px 691px #FFF, 336px 1370px #FFF, 1294px 1153px #FFF, 411px 388px #FFF, 1527px 293px #FFF, 988px 639px #FFF, 1150px 268px #FFF, 1581px 1531px #FFF, 1077px 1619px #FFF, 986px 1950px #FFF, 930px 1651px #FFF, 1876px 1457px #FFF, 1964px 41px #FFF, 1213px 1474px #FFF, 764px 1948px #FFF, 450px 1519px #FFF, 1767px 787px #FFF, 1705px 289px #FFF, 220px 932px #FFF, 192px 1480px #FFF, 70px 1541px #FFF, 1249px 204px #FFF, 1439px 1284px #FFF, 444px 361px #FFF, 168px 1274px #FFF, 805px 1551px #FFF, 1361px 205px #FFF, 266px 1897px #FFF, 1500px 1916px #FFF, 1865px 809px #FFF, 876px 1648px #FFF, 348px 1937px #FFF, 1178px 846px #FFF, 1662px 35px #FFF, 53px 557px #FFF, 1612px 832px #FFF, 979px 147px #FFF, 134px 329px #FFF, 859px 1151px #FFF, 1671px 1931px #FFF, 1320px 483px #FFF, 486px 288px #FFF, 1044px 858px #FFF, 1826px 1891px #FFF, 1678px 1678px #FFF, 1669px 1461px #FFF, 557px 1586px #FFF, 132px 668px #FFF, 1881px 354px #FFF, 1411px 83px #FFF, 743px 999px #FFF, 1457px 72px #FFF, 1177px 1020px #FFF, 384px 1779px #FFF, 341px 972px #FFF, 1777px 1776px #FFF, 612px 1425px #FFF, 1098px 1621px #FFF, 1658px 1598px #FFF, 732px 1943px #FFF, 1941px 1989px #FFF, 974px 1343px #FFF, 1332px 8px #FFF, 1001px 662px #FFF, 1080px 92px #FFF, 1226px 344px #FFF, 1127px 1181px #FFF, 962px 187px #FFF, 328px 867px #FFF, 616px 1845px #FFF, 1980px 1261px #FFF, 1260px 969px #FFF, 1543px 1166px #FFF, 1441px 1645px #FFF, 16px 362px #FFF, 355px 568px #FFF, 1540px 81px #FFF, 1829px 63px #FFF, 56px 1980px #FFF, 1426px 575px #FFF, 91px 1757px #FFF, 309px 1987px #FFF, 735px 835px #FFF, 1725px 1383px #FFF, 1533px 523px #FFF, 1769px 1174px #FFF, 685px 143px #FFF, 17px 1518px #FFF, 1872px 1445px #FFF, 1808px 1869px #FFF, 717px 1573px #FFF, 265px 1674px #FFF, 1304px 4px #FFF, 1461px 589px #FFF, 915px 484px #FFF, 1133px 1500px #FFF, 1811px 1659px #FFF, 538px 289px #FFF, 1098px 1452px #FFF, 353px 1024px #FFF, 1981px 695px #FFF, 747px 306px #FFF, 722px 1714px #FFF, 1427px 1295px #FFF, 859px 817px #FFF, 1506px 375px #FFF, 610px 360px #FFF, 589px 1468px #FFF, 1889px 490px #FFF, 1617px 1289px #FFF, 1536px 165px #FFF, 1249px 1691px #FFF, 1843px 686px #FFF, 789px 498px #FFF, 1885px 1459px #FFF, 1635px 42px #FFF, 218px 1576px #FFF, 1860px 91px #FFF, 175px 983px #FFF, 1599px 634px #FFF, 1142px 920px #FFF, 1910px 1226px #FFF, 950px 1378px #FFF, 774px 1277px #FFF, 941px 1184px #FFF, 1317px 307px #FFF, 1852px 77px #FFF, 1150px 1409px #FFF, 1135px 197px #FFF, 1689px 1712px #FFF, 189px 340px #FFF, 1132px 1633px #FFF, 1077px 390px #FFF, 522px 1576px #FFF, 643px 968px #FFF, 508px 1536px #FFF, 93px 605px #FFF, 1393px 1891px #FFF, 955px 476px #FFF, 957px 40px #FFF, 1654px 1326px #FFF, 1622px 486px #FFF, 430px 1509px #FFF, 88px 403px #FFF, 1397px 177px #FFF, 510px 1318px #FFF, 1860px 1268px #FFF, 1726px 876px #FFF, 1628px 574px #FFF, 1911px 1543px #FFF, 1347px 756px #FFF, 1288px 1549px #FFF, 1467px 255px #FFF, 1151px 1347px #FFF, 1617px 445px #FFF, 1445px 444px #FFF, 1843px 1628px #FFF, 1263px 738px #FFF, 536px 672px #FFF, 1531px 79px #FFF, 1391px 1022px #FFF, 142px 1159px #FFF, 1767px 1406px #FFF, 935px 130px #FFF, 437px 346px #FFF, 1358px 63px #FFF, 770px 1327px #FFF, 710px 643px #FFF, 1562px 292px #FFF, 1019px 18px #FFF, 1461px 431px #FFF, 1080px 1993px #FFF, 1010px 1541px #FFF, 1734px 1178px #FFF, 1465px 542px #FFF, 724px 1575px #FFF, 347px 717px #FFF, 1854px 637px #FFF, 1789px 1595px #FFF, 1708px 865px #FFF, 428px 199px #FFF, 83px 1545px #FFF, 1404px 1819px #FFF, 1321px 1757px #FFF, 1761px 916px #FFF, 1366px 1171px #FFF, 59px 1389px #FFF, 1053px 1049px #FFF, 1469px 402px #FFF, 326px 166px #FFF, 472px 79px #FFF, 1236px 774px #FFF, 129px 832px #FFF, 1742px 1537px #FFF, 1427px 700px #FFF, 1172px 544px #FFF, 1899px 1924px #FFF, 1332px 684px #FFF, 1840px 1525px #FFF, 1417px 1514px #FFF, 1806px 1682px #FFF, 746px 1554px #FFF, 579px 1938px #FFF, 250px 1673px #FFF, 237px 584px #FFF, 681px 668px #FFF, 321px 751px #FFF, 541px 881px #FFF, 1702px 1542px #FFF, 984px 843px #FFF, 627px 925px #FFF, 12px 18px #FFF, 11px 80px #FFF, 1440px 1935px #FFF, 623px 1527px #FFF, 1408px 99px #FFF, 1792px 319px #FFF, 1167px 891px #FFF, 241px 1034px #FFF, 545px 1904px #FFF, 301px 1827px #FFF, 1990px 564px #FFF, 1053px 349px #FFF, 1199px 1298px #FFF, 1488px 1742px #FFF, 654px 878px #FFF, 1332px 1906px #FFF, 1675px 1574px #FFF, 1797px 105px #FFF, 399px 1336px #FFF, 639px 1155px #FFF, 1819px 1231px #FFF, 1883px 1606px #FFF, 158px 314px #FFF, 1489px 1842px #FFF, 1578px 1300px #FFF, 1834px 1942px #FFF, 1628px 647px #FFF, 1975px 1771px #FFF, 1602px 864px #FFF, 51px 416px #FFF, 100px 1045px #FFF, 500px 1580px #FFF, 140px 188px #FFF, 1889px 801px #FFF, 370px 1753px #FFF, 746px 351px #FFF, 8px 1634px #FFF, 1274px 614px #FFF, 293px 1133px #FFF, 1408px 521px #FFF, 1719px 277px #FFF, 455px 737px #FFF, 495px 1926px #FFF, 1471px 174px #FFF, 1087px 477px #FFF, 1106px 763px #FFF, 1715px 574px #FFF, 1878px 785px #FFF, 904px 355px #FFF, 380px 1398px #FFF, 1207px 1722px #FFF, 695px 605px #FFF, 958px 1274px #FFF, 1712px 957px #FFF, 781px 1248px #FFF, 1526px 1335px #FFF, 113px 971px #FFF, 520px 949px #FFF, 391px 204px #FFF, 509px 576px #FFF, 1561px 1941px #FFF, 1625px 1635px #FFF, 1940px 1143px #FFF, 804px 1303px #FFF, 1458px 71px #FFF, 394px 481px #FFF, 1481px 1466px #FFF, 1210px 1843px #FFF, 1958px 1681px #FFF, 1360px 346px #FFF, 688px 1544px #FFF, 137px 1261px #FFF, 1482px 146px #FFF, 522px 1204px #FFF, 873px 1168px #FFF, 1053px 467px #FFF, 929px 1765px #FFF, 1338px 1595px #FFF, 546px 705px #FFF, 889px 898px #FFF, 313px 929px #FFF, 575px 1208px #FFF, 71px 1217px #FFF, 292px 1520px #FFF, 1005px 1458px #FFF, 1059px 581px #FFF, 1002px 93px #FFF, 769px 88px #FFF, 1072px 1255px #FFF, 426px 1145px #FFF, 1767px 1447px #FFF, 1798px 465px #FFF, 416px 1764px #FFF, 1333px 1310px #FFF, 429px 1315px #FFF, 1028px 1526px #FFF, 1872px 1568px #FFF, 954px 1768px #FFF, 790px 652px #FFF, 79px 353px #FFF, 1835px 163px #FFF, 187px 1180px #FFF, 1448px 677px #FFF, 1257px 20px #FFF, 1502px 1289px #FFF, 529px 1976px #FFF, 367px 729px #FFF, 1889px 650px #FFF, 1150px 708px #FFF, 388px 164px #FFF, 1314px 659px #FFF, 1997px 737px #FFF, 1675px 865px #FFF, 1285px 1981px #FFF, 1193px 1272px #FFF, 216px 1909px #FFF, 1691px 457px #FFF, 432px 870px #FFF, 896px 617px #FFF, 1768px 1788px #FFF, 996px 1133px #FFF, 1664px 1790px #FFF, 239px 1222px #FFF, 1636px 1280px #FFF, 611px 388px #FFF, 1288px 1548px #FFF, 511px 1760px #FFF, 400px 875px #FFF, 575px 597px #FFF, 1254px 380px #FFF, 1943px 1896px #FFF, 401px 1894px #FFF, 241px 407px #FFF, 1319px 485px #FFF, 402px 921px #FFF, 467px 2000px #FFF, 784px 1174px #FFF, 1834px 247px #FFF, 1984px 1550px #FFF, 675px 1292px #FFF, 210px 275px #FFF, 609px 1174px #FFF, 975px 1600px #FFF, 1333px 65px #FFF, 452px 814px #FFF, 1669px 785px #FFF, 1253px 1389px #FFF, 1091px 1105px #FFF, 713px 1116px #FFF, 1987px 387px #FFF, 1768px 191px #FFF, 106px 982px #FFF, 157px 1029px #FFF, 1852px 1543px #FFF, 1983px 1014px #FFF, 396px 434px #FFF, 1610px 1519px #FFF, 1774px 1536px #FFF, 3px 1123px #FFF, 1264px 1870px #FFF, 1757px 1269px #FFF, 1157px 1492px #FFF, 1865px 1909px #FFF, 1543px 507px #FFF, 1773px 889px #FFF, 1578px 1367px #FFF, 1100px 1447px #FFF, 138px 333px #FFF, 1201px 252px #FFF, 1779px 957px #FFF, 1973px 84px #FFF, 1971px 355px #FFF, 826px 1102px #FFF, 593px 1481px #FFF, 421px 1991px #FFF, 1685px 1712px #FFF, 1965px 730px #FFF, 910px 1933px #FFF, 1800px 643px #FFF, 98px 1518px #FFF, 1207px 846px #FFF, 726px 369px #FFF, 1347px 169px #FFF, 1406px 633px #FFF, 386px 1871px #FFF, 859px 1860px #FFF, 1544px 1808px #FFF, 1127px 822px #FFF, 849px 213px #FFF, 199px 1854px #FFF, 1951px 362px #FFF, 368px 76px #FFF, 1764px 528px #FFF, 1104px 655px #FFF, 1343px 1454px #FFF, 650px 1957px #FFF, 715px 1682px #FFF, 1083px 566px #FFF, 758px 128px #FFF, 1016px 657px #FFF, 1144px 791px #FFF, 1018px 298px #FFF, 113px 148px #FFF, 1826px 1451px #FFF, 1989px 800px #FFF, 698px 1397px #FFF, 1337px 631px #FFF, 1719px 1002px #FFF, 1780px 337px #FFF, 1084px 712px #FFF, 680px 1523px #FFF, 707px 1726px #FFF, 1210px 940px #FFF, 591px 799px #FFF, 1989px 1879px #FFF, 640px 131px #FFF, 1553px 1318px #FFF, 103px 554px #FFF, 1122px 1585px #FFF, 276px 437px #FFF, 1661px 1384px #FFF, 853px 1443px #FFF, 1525px 1318px #FFF, 1832px 1006px #FFF, 683px 1859px #FFF, 1977px 593px #FFF, 1819px 1727px #FFF, 48px 134px #FFF, 1668px 488px #FFF, 1867px 897px #FFF, 626px 1522px #FFF, 1616px 649px #FFF, 1415px 627px #FFF, 123px 136px #FFF, 695px 1759px #FFF, 564px 1281px #FFF, 290px 234px #FFF, 917px 1966px #FFF, 929px 1152px #FFF, 1669px 138px #FFF, 1903px 1996px #FFF, 1810px 1527px #FFF, 627px 468px #FFF, 165px 815px #FFF, 1872px 830px #FFF, 1528px 1341px #FFF, 882px 1483px #FFF;
}

#stars2
{
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1389px 1513px #FFF, 1553px 1560px #FFF, 559px 1429px #FFF, 995px 921px #FFF, 200px 889px #FFF, 1399px 1444px #FFF, 199px 1786px #FFF, 244px 977px #FFF, 189px 1176px #FFF, 515px 1814px #FFF, 1471px 1475px #FFF, 883px 1522px #FFF, 1250px 1604px #FFF, 153px 647px #FFF, 227px 1898px #FFF, 357px 958px #FFF, 1948px 1713px #FFF, 1207px 1574px #FFF, 1570px 520px #FFF, 831px 712px #FFF, 1256px 15px #FFF, 1534px 698px #FFF, 1137px 1924px #FFF, 117px 1317px #FFF, 745px 1033px #FFF, 1161px 1710px #FFF, 1090px 1509px #FFF, 747px 1324px #FFF, 108px 766px #FFF, 870px 1432px #FFF, 1476px 692px #FFF, 1964px 1907px #FFF, 1238px 1693px #FFF, 1013px 1937px #FFF, 1444px 1204px #FFF, 940px 1172px #FFF, 764px 1296px #FFF, 1304px 873px #FFF, 584px 920px #FFF, 701px 540px #FFF, 835px 1667px #FFF, 1866px 1885px #FFF, 184px 221px #FFF, 494px 342px #FFF, 720px 148px #FFF, 1009px 353px #FFF, 363px 1179px #FFF, 1044px 1766px #FFF, 515px 949px #FFF, 421px 1314px #FFF, 1296px 1721px #FFF, 98px 1584px #FFF, 356px 222px #FFF, 846px 1598px #FFF, 1444px 958px #FFF, 842px 786px #FFF, 336px 884px #FFF, 1571px 655px #FFF, 716px 1130px #FFF, 1062px 1170px #FFF, 920px 59px #FFF, 439px 1289px #FFF, 808px 279px #FFF, 1817px 67px #FFF, 1311px 1996px #FFF, 936px 291px #FFF, 1572px 1107px #FFF, 621px 938px #FFF, 1254px 550px #FFF, 1119px 768px #FFF, 1780px 895px #FFF, 1320px 1408px #FFF, 1323px 291px #FFF, 689px 1010px #FFF, 1076px 1739px #FFF, 878px 1028px #FFF, 803px 769px #FFF, 1640px 795px #FFF, 315px 661px #FFF, 952px 1243px #FFF, 1583px 1939px #FFF, 1753px 799px #FFF, 367px 94px #FFF, 1833px 1187px #FFF, 1440px 1468px #FFF, 960px 612px #FFF, 280px 1864px #FFF, 1164px 529px #FFF, 544px 1416px #FFF, 1875px 607px #FFF, 405px 259px #FFF, 35px 829px #FFF, 769px 1941px #FFF, 965px 1884px #FFF, 529px 428px #FFF, 560px 1819px #FFF, 608px 1813px #FFF, 1269px 922px #FFF, 1919px 647px #FFF, 605px 1503px #FFF, 640px 1356px #FFF, 948px 1493px #FFF, 572px 1874px #FFF, 1703px 1959px #FFF, 734px 1693px #FFF, 1198px 607px #FFF, 1197px 1814px #FFF, 111px 1930px #FFF, 1607px 445px #FFF, 327px 1947px #FFF, 1161px 686px #FFF, 1644px 353px #FFF, 1882px 394px #FFF, 31px 1081px #FFF, 1269px 730px #FFF, 1685px 1491px #FFF, 1959px 1844px #FFF, 506px 600px #FFF, 34px 1179px #FFF, 927px 756px #FFF, 1142px 99px #FFF, 1565px 808px #FFF, 156px 532px #FFF, 22px 1670px #FFF, 162px 147px #FFF, 637px 1798px #FFF, 473px 1187px #FFF, 846px 544px #FFF, 520px 1580px #FFF, 429px 1028px #FFF, 1811px 623px #FFF, 1672px 628px #FFF, 1990px 505px #FFF, 1325px 362px #FFF, 1463px 770px #FFF, 87px 332px #FFF, 353px 377px #FFF, 1040px 1534px #FFF, 1645px 289px #FFF, 1719px 1614px #FFF, 155px 1310px #FFF, 1939px 587px #FFF, 22px 433px #FFF, 1563px 1747px #FFF, 259px 424px #FFF, 1370px 1231px #FFF, 175px 1567px #FFF, 1856px 115px #FFF, 1088px 558px #FFF, 928px 51px #FFF, 254px 625px #FFF, 612px 573px #FFF, 402px 30px #FFF, 99px 1940px #FFF, 1582px 1252px #FFF, 1844px 699px #FFF, 1306px 243px #FFF, 154px 1704px #FFF, 1959px 647px #FFF, 802px 356px #FFF, 1684px 1846px #FFF, 1927px 1588px #FFF, 747px 556px #FFF, 1242px 971px #FFF, 728px 1899px #FFF, 282px 1541px #FFF, 329px 1498px #FFF, 1660px 1394px #FFF, 1228px 894px #FFF, 542px 756px #FFF, 235px 724px #FFF, 1847px 388px #FFF, 45px 206px #FFF, 926px 491px #FFF, 465px 271px #FFF, 1812px 1311px #FFF, 1721px 1563px #FFF, 1621px 907px #FFF, 1584px 1325px #FFF, 1622px 200px #FFF, 499px 1037px #FFF, 755px 240px #FFF, 1193px 1730px #FFF, 1674px 452px #FFF, 1630px 367px #FFF, 1729px 1890px #FFF, 1257px 1545px #FFF, 1497px 1125px #FFF, 242px 1682px #FFF, 1489px 537px #FFF, 1696px 1507px #FFF, 1237px 1242px #FFF, 1892px 1642px #FFF, 1698px 215px #FFF, 498px 827px #FFF, 376px 931px #FFF, 1558px 1387px #FFF, 224px 569px #FFF, 764px 1093px #FFF, 1318px 850px #FFF;
    animation: animStar 100s linear infinite;
}
#stars2:after
{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1389px 1513px #FFF, 1553px 1560px #FFF, 559px 1429px #FFF, 995px 921px #FFF, 200px 889px #FFF, 1399px 1444px #FFF, 199px 1786px #FFF, 244px 977px #FFF, 189px 1176px #FFF, 515px 1814px #FFF, 1471px 1475px #FFF, 883px 1522px #FFF, 1250px 1604px #FFF, 153px 647px #FFF, 227px 1898px #FFF, 357px 958px #FFF, 1948px 1713px #FFF, 1207px 1574px #FFF, 1570px 520px #FFF, 831px 712px #FFF, 1256px 15px #FFF, 1534px 698px #FFF, 1137px 1924px #FFF, 117px 1317px #FFF, 745px 1033px #FFF, 1161px 1710px #FFF, 1090px 1509px #FFF, 747px 1324px #FFF, 108px 766px #FFF, 870px 1432px #FFF, 1476px 692px #FFF, 1964px 1907px #FFF, 1238px 1693px #FFF, 1013px 1937px #FFF, 1444px 1204px #FFF, 940px 1172px #FFF, 764px 1296px #FFF, 1304px 873px #FFF, 584px 920px #FFF, 701px 540px #FFF, 835px 1667px #FFF, 1866px 1885px #FFF, 184px 221px #FFF, 494px 342px #FFF, 720px 148px #FFF, 1009px 353px #FFF, 363px 1179px #FFF, 1044px 1766px #FFF, 515px 949px #FFF, 421px 1314px #FFF, 1296px 1721px #FFF, 98px 1584px #FFF, 356px 222px #FFF, 846px 1598px #FFF, 1444px 958px #FFF, 842px 786px #FFF, 336px 884px #FFF, 1571px 655px #FFF, 716px 1130px #FFF, 1062px 1170px #FFF, 920px 59px #FFF, 439px 1289px #FFF, 808px 279px #FFF, 1817px 67px #FFF, 1311px 1996px #FFF, 936px 291px #FFF, 1572px 1107px #FFF, 621px 938px #FFF, 1254px 550px #FFF, 1119px 768px #FFF, 1780px 895px #FFF, 1320px 1408px #FFF, 1323px 291px #FFF, 689px 1010px #FFF, 1076px 1739px #FFF, 878px 1028px #FFF, 803px 769px #FFF, 1640px 795px #FFF, 315px 661px #FFF, 952px 1243px #FFF, 1583px 1939px #FFF, 1753px 799px #FFF, 367px 94px #FFF, 1833px 1187px #FFF, 1440px 1468px #FFF, 960px 612px #FFF, 280px 1864px #FFF, 1164px 529px #FFF, 544px 1416px #FFF, 1875px 607px #FFF, 405px 259px #FFF, 35px 829px #FFF, 769px 1941px #FFF, 965px 1884px #FFF, 529px 428px #FFF, 560px 1819px #FFF, 608px 1813px #FFF, 1269px 922px #FFF, 1919px 647px #FFF, 605px 1503px #FFF, 640px 1356px #FFF, 948px 1493px #FFF, 572px 1874px #FFF, 1703px 1959px #FFF, 734px 1693px #FFF, 1198px 607px #FFF, 1197px 1814px #FFF, 111px 1930px #FFF, 1607px 445px #FFF, 327px 1947px #FFF, 1161px 686px #FFF, 1644px 353px #FFF, 1882px 394px #FFF, 31px 1081px #FFF, 1269px 730px #FFF, 1685px 1491px #FFF, 1959px 1844px #FFF, 506px 600px #FFF, 34px 1179px #FFF, 927px 756px #FFF, 1142px 99px #FFF, 1565px 808px #FFF, 156px 532px #FFF, 22px 1670px #FFF, 162px 147px #FFF, 637px 1798px #FFF, 473px 1187px #FFF, 846px 544px #FFF, 520px 1580px #FFF, 429px 1028px #FFF, 1811px 623px #FFF, 1672px 628px #FFF, 1990px 505px #FFF, 1325px 362px #FFF, 1463px 770px #FFF, 87px 332px #FFF, 353px 377px #FFF, 1040px 1534px #FFF, 1645px 289px #FFF, 1719px 1614px #FFF, 155px 1310px #FFF, 1939px 587px #FFF, 22px 433px #FFF, 1563px 1747px #FFF, 259px 424px #FFF, 1370px 1231px #FFF, 175px 1567px #FFF, 1856px 115px #FFF, 1088px 558px #FFF, 928px 51px #FFF, 254px 625px #FFF, 612px 573px #FFF, 402px 30px #FFF, 99px 1940px #FFF, 1582px 1252px #FFF, 1844px 699px #FFF, 1306px 243px #FFF, 154px 1704px #FFF, 1959px 647px #FFF, 802px 356px #FFF, 1684px 1846px #FFF, 1927px 1588px #FFF, 747px 556px #FFF, 1242px 971px #FFF, 728px 1899px #FFF, 282px 1541px #FFF, 329px 1498px #FFF, 1660px 1394px #FFF, 1228px 894px #FFF, 542px 756px #FFF, 235px 724px #FFF, 1847px 388px #FFF, 45px 206px #FFF, 926px 491px #FFF, 465px 271px #FFF, 1812px 1311px #FFF, 1721px 1563px #FFF, 1621px 907px #FFF, 1584px 1325px #FFF, 1622px 200px #FFF, 499px 1037px #FFF, 755px 240px #FFF, 1193px 1730px #FFF, 1674px 452px #FFF, 1630px 367px #FFF, 1729px 1890px #FFF, 1257px 1545px #FFF, 1497px 1125px #FFF, 242px 1682px #FFF, 1489px 537px #FFF, 1696px 1507px #FFF, 1237px 1242px #FFF, 1892px 1642px #FFF, 1698px 215px #FFF, 498px 827px #FFF, 376px 931px #FFF, 1558px 1387px #FFF, 224px 569px #FFF, 764px 1093px #FFF, 1318px 850px #FFF;
}

#stars3
{
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 261px 1548px #FFF, 1793px 1601px #FFF, 284px 1806px #FFF, 1194px 1842px #FFF, 1520px 1981px #FFF, 112px 1023px #FFF, 1225px 1238px #FFF, 1348px 1752px #FFF, 117px 832px #FFF, 1151px 453px #FFF, 1793px 855px #FFF, 774px 605px #FFF, 1694px 1309px #FFF, 444px 549px #FFF, 399px 1245px #FFF, 202px 523px #FFF, 873px 1281px #FFF, 66px 1249px #FFF, 275px 1959px #FFF, 1580px 687px #FFF, 826px 1154px #FFF, 1291px 518px #FFF, 1975px 374px #FFF, 1247px 207px #FFF, 1686px 503px #FFF, 548px 1532px #FFF, 1048px 730px #FFF, 1308px 638px #FFF, 1623px 53px #FFF, 902px 568px #FFF, 1237px 465px #FFF, 1138px 944px #FFF, 54px 785px #FFF, 1118px 22px #FFF, 1271px 1988px #FFF, 1563px 1786px #FFF, 161px 1698px #FFF, 1226px 1099px #FFF, 455px 1634px #FFF, 1669px 1968px #FFF, 1725px 1057px #FFF, 509px 746px #FFF, 1857px 1470px #FFF, 1551px 1032px #FFF, 1849px 1336px #FFF, 787px 1258px #FFF, 1466px 1765px #FFF, 1383px 1900px #FFF, 331px 1772px #FFF, 1740px 1106px #FFF, 554px 267px #FFF, 888px 634px #FFF, 309px 1236px #FFF, 1533px 1539px #FFF, 303px 1273px #FFF, 1922px 1937px #FFF, 1337px 1288px #FFF, 670px 213px #FFF, 1282px 1736px #FFF, 796px 311px #FFF, 1098px 1778px #FFF, 593px 809px #FFF, 1582px 1860px #FFF, 1709px 1085px #FFF, 588px 106px #FFF, 1085px 956px #FFF, 508px 665px #FFF, 1899px 367px #FFF, 1957px 1879px #FFF, 923px 611px #FFF, 834px 432px #FFF, 432px 1327px #FFF, 89px 1627px #FFF, 1746px 1447px #FFF, 1388px 375px #FFF, 1325px 45px #FFF, 1717px 1382px #FFF, 1405px 830px #FFF, 564px 745px #FFF, 1924px 1673px #FFF, 11px 1680px #FFF, 1503px 1747px #FFF, 1349px 564px #FFF, 1372px 961px #FFF, 579px 1915px #FFF, 1122px 918px #FFF, 1640px 1570px #FFF, 1927px 564px #FFF, 1957px 1274px #FFF, 937px 115px #FFF, 141px 779px #FFF, 1521px 1480px #FFF, 1821px 139px #FFF, 1326px 910px #FFF, 1680px 1588px #FFF, 1552px 1242px #FFF, 1904px 588px #FFF, 132px 588px #FFF, 1883px 1274px #FFF, 969px 669px #FFF;
    animation: animStar 150s linear infinite;
}
#stars3:after
{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 261px 1548px #FFF, 1793px 1601px #FFF, 284px 1806px #FFF, 1194px 1842px #FFF, 1520px 1981px #FFF, 112px 1023px #FFF, 1225px 1238px #FFF, 1348px 1752px #FFF, 117px 832px #FFF, 1151px 453px #FFF, 1793px 855px #FFF, 774px 605px #FFF, 1694px 1309px #FFF, 444px 549px #FFF, 399px 1245px #FFF, 202px 523px #FFF, 873px 1281px #FFF, 66px 1249px #FFF, 275px 1959px #FFF, 1580px 687px #FFF, 826px 1154px #FFF, 1291px 518px #FFF, 1975px 374px #FFF, 1247px 207px #FFF, 1686px 503px #FFF, 548px 1532px #FFF, 1048px 730px #FFF, 1308px 638px #FFF, 1623px 53px #FFF, 902px 568px #FFF, 1237px 465px #FFF, 1138px 944px #FFF, 54px 785px #FFF, 1118px 22px #FFF, 1271px 1988px #FFF, 1563px 1786px #FFF, 161px 1698px #FFF, 1226px 1099px #FFF, 455px 1634px #FFF, 1669px 1968px #FFF, 1725px 1057px #FFF, 509px 746px #FFF, 1857px 1470px #FFF, 1551px 1032px #FFF, 1849px 1336px #FFF, 787px 1258px #FFF, 1466px 1765px #FFF, 1383px 1900px #FFF, 331px 1772px #FFF, 1740px 1106px #FFF, 554px 267px #FFF, 888px 634px #FFF, 309px 1236px #FFF, 1533px 1539px #FFF, 303px 1273px #FFF, 1922px 1937px #FFF, 1337px 1288px #FFF, 670px 213px #FFF, 1282px 1736px #FFF, 796px 311px #FFF, 1098px 1778px #FFF, 593px 809px #FFF, 1582px 1860px #FFF, 1709px 1085px #FFF, 588px 106px #FFF, 1085px 956px #FFF, 508px 665px #FFF, 1899px 367px #FFF, 1957px 1879px #FFF, 923px 611px #FFF, 834px 432px #FFF, 432px 1327px #FFF, 89px 1627px #FFF, 1746px 1447px #FFF, 1388px 375px #FFF, 1325px 45px #FFF, 1717px 1382px #FFF, 1405px 830px #FFF, 564px 745px #FFF, 1924px 1673px #FFF, 11px 1680px #FFF, 1503px 1747px #FFF, 1349px 564px #FFF, 1372px 961px #FFF, 579px 1915px #FFF, 1122px 918px #FFF, 1640px 1570px #FFF, 1927px 564px #FFF, 1957px 1274px #FFF, 937px 115px #FFF, 141px 779px #FFF, 1521px 1480px #FFF, 1821px 139px #FFF, 1326px 910px #FFF, 1680px 1588px #FFF, 1552px 1242px #FFF, 1904px 588px #FFF, 132px 588px #FFF, 1883px 1274px #FFF, 969px 669px #FFF;
}

#title
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

@keyframes animStar
{
    from
    {
        transform: translateY(0px);
    }
    to
    {
        transform: translateY(-2000px);
    }
}
/** footer **/

footer
{
    background-color: #66B032;
    padding: 1rem;
    margin: 1em 0 0;
}
.footer-content
{
    width: 100%;
    max-width: 1280px;
    padding: 1rem;
    margin: 1rem auto;

    & p
    {
        color: #EBF7E3;
        font-size: 1em;
        text-align: center;
    }
}

.footer-content
{
    width: 100%;
    max-width: 1280px;
    padding: 1rem;
    margin: 1rem auto;
}


/** Going Mobile **/

@media (max-width: 520px)
{
    h1
    {
        font-size: 1.5em;

    }
    h2
    {
        font-size: 1.3em
    }

    header
    {
        height: 30vh;
        background-position: top center;
        background-size: cover
    }
    main
    {
        grid-template-columns: 1fr;
    }
}